.DS_Store
common/voron-klipper-config
common/esp32-rtk
R2D2/sd-backup
**/input_shaper/*.png
vpn/configs
common/EnragedRabbitProject-main/*
OBI1/mmu*
OBI1/mmu-*
OBI1/mmu+*
OBI1/ercf*
**/node_modules
**/gsender-server/
**DEMO/
**/duet-sd/
**/Marlin-bugfix-2.0.9.3.x/
**/Remora/
**/F446-OctoPus
**/fluidNC/
/Makerfabs-ESP32-UWB
/micro-ROS
**/cnc_xyza
E-Carve/Carves
E-Carve/g-code-samples
CHOPPER/unsued
common/KNOMI
common/KNOMI/*
common/crosshair-cam
OBI1/mmu
XYZ/firmware.bin
R2D2/mcu_klipper.bin
OBI1/mmu/base
**.bin*
common/KNOMI/lib/CST816S/CST816S.h
