# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v2.0. To use this config, the firmware should be compiled for the
# STM32F103 with a "28KiB bootloader" and USB communication. Also,
# select "Enable extra low-level configuration options" and configure
# "GPIO pins to set at micro-controller startup" to "!PA14".

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

[include mainsail.cfg]

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
# endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 0
position_max: 230
homing_speed: 50



[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
stealthchop_threshold: 999999
# diag_pin: ^PC0 # use the same pin that was previously the endstop_pin!
# driver_SGTHRS: 105 # 255 is most sensitive value, 0 is least sensitive

[stepper_y]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
# endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 0
position_max: 205
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
stealthchop_threshold: 999999
# diag_pin: ^PC1     # use the same pin that was previously the endstop_pin!
# driver_SGTHRS: 100 # 255 is most sensitive value, 0 is least sensitive

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
full_steps_per_rotation: 200
microsteps: 16
rotation_distance:1.25
endstop_pin: probe:z_virtual_endstop
# position_endstop: 0.0
position_max: 250
homing_speed: 50

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
stealthchop_threshold: 999999

[extruder]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD2
microsteps: 16
nozzle_diameter: 0.400
##  Update value below when you perform extruder calibration
##  If you ask for 100mm of filament, but in reality it is 98mm:
##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
rotation_distance: 22.6789511   #Bondtech 5mm Drive Gears
##  Update Gear Ratio depending on your Extruder Type
##  Use 50:10 for Stealthburner/Clockwork 2
##  Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##  Use 80:20 for M4, M3.1
gear_ratio: 50:10                  #BMG Gear Ratio
microsteps: 32
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
control: pid
# pid_Kp=15.594 pid_Ki=0.189 pid_Kd=321.634
pid_Kp: 15.594
pid_Ki: 0.189
pid_Kd: 321.634
# pid_Kp: 21.527
# pid_Ki: 1.063
# pid_Kd: 108.982
min_temp: -100
max_temp: 250

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.650
stealthchop_threshold: 999999

[heater_bed]
heater_pin: PC9
sensor_type: Generic 3950
# sensor_type: EPCOS 100K B57560G104F
# sensor_type: ATC Semitec 104GT-2
# sensor_type: ATC Semitec 104NT-4-R025H42G
# sensor_type: NTC 100K MGB18-104F39050L32
# sensor_type: Honeywell 100K 135-104LAG-J01
sensor_pin: PC4
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: -100
max_temp: 130

[heater_fan hotend_fan]
pin: PC7
heater: extruder
heater_temp: 50.0

[heater_fan controller_fan]
pin: PB15

[fan]
pin: PC6

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_2200100015504D5930393520-if00
# serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_32FFDD0530554D3113850243-if00

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[static_digital_output usb_pullup_enable]
pins: !PA14

# [board_pins]
# aliases:
#     # EXP1 header
#     EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8,  EXP1_9=<GND>,
#     EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PB15, EXP1_10=<5V>

# See the sample-lcd.cfg file for definitions of common LCD displays.

[bltouch]
# sensor_pin: ^PC2
sensor_pin: ^PC14
control_pin: PA1
x_offset: 0
y_offset: -15
z_offset: 0


[safe_z_home]
home_xy_position: 100, 100 # Change coordinates to the center of your print bed
speed: 50
z_hop: 10                 # Move up 10mm
z_hop_speed: 5

# Enable object exclusion
[exclude_object]


[save_variables]
filename: ~/variables.cfg

[force_move]

enable_force_move: True

# [include filament.cfg]
[include homing.cfg]
[include pre-post-processors.cfg]
[include pause.cfg]
[include message.cfg]